In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_excel("../テスト用データ_all/9月/2_★【給与】支給控除/⑤【更新用】★カーディナルヘルス様給与チェック表_202409.xlsx", sheet_name="＿社保手修正一覧 (テスト用)")
print(df.head())

         退職日    社員番号   氏名 雇用形態 生年月日 支給月の締め日   年齢   健保（翌月）  介護（翌月）   厚年（翌月）  \
0 2023-08-31  489281  NaN  NaN  NaT     NaN  NaN  12610.0     0.0  23790.0
1 2023-08-31  489315  NaN  NaN  NaT     NaN  NaN  10670.0     0.0  20130.0
2 2023-11-30  489672  NaN  NaN  NaT     NaN  NaN   8245.0  1445.0  15555.0
3 2023-12-31  489598  NaN  NaN  NaT     NaN  NaN  30070.0  5270.0  56730.0
4 2023-12-31  489697  NaN  NaN  NaT     NaN  NaN  11640.0     0.0  21960.0

   子育て拠出金（翌月） Unnamed: 11      厚年標報   翌月は？ 月変は？
0       936.0         NaN       NaN    NaN  NaN
1       792.0         NaN       NaN    NaN  NaN
2       612.0         NaN       NaN    NaN  NaN
3      2232.0         NaN  620000.0    NaN  NaN
4       864.0         NaN  240000.0  翌月65歳  NaN

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   退職日          32 non-null     datetime64[ns]
 1   社員番号         36 non-null     object
 2   氏名           15 non-null     object
 3   雇用形態         16 non-null     object
 4   生年月日         16 non-null     datetime64[ns]
 5   支給月の締め日      16 non-null     object
 6   年齢           17 non-null     object
 7   健保（翌月）       47 non-null     float64
 8   介護（翌月）       47 non-null     float64
 9   厚年（翌月）       47 non-null     float64
 10  子育て拠出金（翌月）   47 non-null     float64
 11  Unnamed: 11  6 non-null      object
 12  厚年標報         29 non-null     float64
 13  翌月は？         25 non-null     object
 14  月変は？         12 non-null     object
dtypes: datetime64[ns](2), float64(5), object(8)
memory usage: 5.9+ KB
None

In [7]:
df = df[[col for col in df.columns if col != "Unnamed: 11"]]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   退職日         32 non-null     datetime64[ns]
 1   社員番号        36 non-null     object
 2   氏名          15 non-null     object
 3   雇用形態        16 non-null     object
 4   生年月日        16 non-null     datetime64[ns]
 5   支給月の締め日     16 non-null     object
 6   年齢          17 non-null     object
 7   健保（翌月）      47 non-null     float64
 8   介護（翌月）      47 non-null     float64
 9   厚年（翌月）      47 non-null     float64
 10  子育て拠出金（翌月）  47 non-null     float64
 11  厚年標報        29 non-null     float64
 12  翌月は？        25 non-null     object
 13  月変は？        12 non-null     object
dtypes: datetime64[ns](2), float64(5), object(7)
memory usage: 5.5+ KB
None

In [8]:
df.to_csv("/Users/formaideveloper/LLM_excel/テスト用データ/9月/2_★【給与】支給控除/⑤【更新用】★カーディナルヘルス様給与チェック表_202409.csv", index=False)

In [2]:
df = pd.read_csv("/Users/formaideveloper/LLM_excel/テスト用データ_all/other_3/必要ファイル/漢字変換リスト.csv")

In [3]:
df.head()

   スタッフコード 変換対象 変換文字列
0   954194   西脇    西𦚰

In [5]:
df.describe(include=["int64", "float64"])

        スタッフコード
count       1.0
mean   954194.0
std         NaN
min    954194.0
25%    954194.0
50%    954194.0
75%    954194.0
max    954194.0

In [6]:
df = pd.read_csv("/Users/formaideveloper/LLM_excel/application_env_not_embedded/data/カーディナルヘルス様給与チェック表_202409_for_task.csv")
df.head()

,Unnamed: 0,退職日,社員番号,氏名,雇用形態,生年月日,支給月の締め日,年齢,健保（翌月）,介護（翌月）,厚年（翌月）,子育て拠出金（翌月）,厚年標報,翌月は？,月変は？,スタッフコード
0,0,2023-08-31,489281,NaN,NaN,NaN,NaN,NaN,12610.0,0.0,23790.0,936.0,NaN,NaN,NaN,489281
1,1,2023-08-31,489315,NaN,NaN,NaN,NaN,NaN,10670.0,0.0,20130.0,792.0,NaN,NaN,NaN,489315
2,2,2023-11-30,489672,NaN,NaN,NaN,NaN,NaN,8245.0,1445.0,15555.0,612.0,NaN,NaN,NaN,489672
3,3,2023-12-31,489598,NaN,NaN,NaN,NaN,NaN,30070.0,5270.0,56730.0,2232.0,620000.0,NaN,NaN,489598
4,4,2023-12-31,489697,NaN,NaN,NaN,NaN,NaN,11640.0,0.0,21960.0,864.0,240000.0,翌月65歳,NaN,489697

In [7]:
df.to_csv("カーディナルヘルス様給与チェック表_202409_for_task.csv", encoding="utf-8-sig", index=False)

In [8]:
df = pd.read_csv("/Users/formaideveloper/LLM_excel/application_env_embedded/data/支給・控除等一覧表_for_task.csv")
df.to_csv("支給・控除等一覧表_for_task.csv", encoding="utf-8-sig", index=False)

In [5]:
df = pd.read_excel("/Users/formaideveloper/LLM_excel/テスト用データ_all/★【給与】支給控除一覧_社保手修正一覧.xlsx",
        sheet_name="★【給与】支給控除一覧_社保手修正一覧", header=1)
df.head()

,退職日,社員番号,氏名,雇用形態,生年月日,支給月締め日,年齢,健保（当月）,健保（翌月）,介護（当月）,介護（翌月）,厚年（当月）,厚年（翌月）,子育て拠出金（当月）,子育て拠出金（翌月）,Unnamed: 15,厚年標報,翌月は？,月変は？,備考
0,2023-08-31,489281.0,NaN,NaN,1958-08-02,2023-08-31 00:00:00,65才0ヶ月,NaN,12610.0,NaN,0.0,NaN,23790.0,NaN,936.0,NaN,NaN,NaN,NaN,NaN
1,2023-08-31,489315.0,NaN,NaN,1958-08-25,2023-08-31 00:00:00,65才0ヶ月,NaN,10670.0,NaN,0.0,NaN,20130.0,NaN,792.0,NaN,NaN,NaN,NaN,NaN
2,2023-09-30,865002.0,NaN,NaN,1988-01-30,2023-09-30 00:00:00,35才8ヶ月,NaN,22795.0,NaN,0.0,NaN,43005.0,NaN,1692.0,NaN,45590.0,0,86010,3384
3,2023-09-30,489370.0,NaN,NaN,1959-09-25,2023-09-30 00:00:00,64才0ヶ月,NaN,58685.0,NaN,10285.0,NaN,59475.0,NaN,2340.0,NaN,117370.0,20570,118950,4680
4,2023-09-30,862664.0,NaN,NaN,1984-09-13,2023-09-30 00:00:00,39才0ヶ月,NaN,25705.0,NaN,0.0,NaN,48495.0,NaN,1908.0,NaN,51410.0,0,96990,3816

In [12]:
df = pd.read_excel("/Users/formaideveloper/LLM_excel/テスト用データ_all/9月/2_★【給与】支給控除/⑥★【給与】支給控除一覧_2024.8.23_確定.xlsx",
        sheet_name="Sheet1", header=3)
df.head()

,会社,支給日,社員番号,氏名\n（英語）,氏名,コストセンター,部門,雇用区分,就業区分,生年月日,...,深夜残業,法定外休日残業,法定休日残業,60時間超,代休控除日数,欠勤控除時間,遅刻早退欠勤控除時間,当月所定労働時間,給与 備考,Unnamed: 134
0,NaN,NaT,491,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,86 days 23:35:00,9 days 23:47:00,2 days 03:29:00,0 days 01:10:00,7.0,0 days,9 days 06:15:00,376 days 03:00:00,NaN,NaN
1,NaN,2024-08-23,483187,NaN,NaN,8.110000e+09,NaN,正社員,一般_袋井_時間外あり,1983-09-21,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.0,0 days,0 days 00:00:00,0 days 00:00:00,NaN,NaN
2,NaN,2024-08-23,489280,NaN,NaN,8.110000e+09,NaN,ﾊﾟｰﾄ時給,時給_袋井,1959-11-24,...,0 days 00:00:00,0 days 07:00:00,0 days 00:00:00,0 days 00:00:00,0.0,0 days,0 days 00:00:00,4 days 23:00:00,所得税は「定額減税後所得税」の金額が控除されます。「所得税」と「定額減税額」の金額は控除され...,NaN
3,NaN,2024-08-23,489285,NaN,NaN,8.110000e+09,NaN,ﾊﾟｰﾄ時給,時給_袋井,1961-09-05,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.0,0 days,0 days 00:00:00,4 days 23:00:00,所得税は「定額減税後所得税」の金額が控除されます。「所得税」と「定額減税額」の金額は控除され...,NaN
4,NaN,2024-08-23,489296,NaN,NaN,8.110000e+09,NaN,ﾊﾟｰﾄ時給,時給_袋井,1965-05-24,...,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0.0,0 days,0 days 00:00:00,4 days 23:00:00,所得税は「定額減税後所得税」の金額が控除されます。「所得税」と「定額減税額」の金額は控除され...,NaN

In [2]:
df = pd.read_excel("/Users/formaideveloper/LLM_excel/notebooks/A社氏名一覧サンプル.xlsx", sheet_name="Sheet1", header=0)
df.head()

     社員番号     氏名        読み方
0  xxxxx1  年末　一郎  ネンマツ　イチロウ
1  xxxxx2  年末　花子   ネンマツ　ハナコ

In [5]:
list(df.columns)

['社員番号', '氏名', '読み方']

In [17]:
print(df.to_markdown())
print(type(df.to_markdown()))

|    | 社員番号   | 氏名       | 読み方             |
|---:|:-----------|:-----------|:-------------------|
|  0 | xxxxx1     | 年末　一郎 | ネンマツ　イチロウ |
|  1 | xxxxx2     | 年末　花子 | ネンマツ　ハナコ   |
<class 'str'>

In [3]:
staff_row = df.loc[(df["社員番号"] == "xxxxx1"), ['社員番号', '氏名', '読み方']
]
print(staff_row)

     社員番号     氏名        読み方
0  xxxxx1  年末　一郎  ネンマツ　イチロウ

In [5]:
staff_row = df.loc[(df["社員番号"] == "xxxxx3"), ['社員番号', '氏名', '読み方']
]
print(len(staff_row))

0

In [3]:
df.to_csv("/Users/formaideveloper/LLM_excel/application_env_not_embedded/data/納品物作成2-2-1/★【給与】支給控除一覧_社保手修正一覧.csv"
          , encoding="utf-8-sig", index=False)

### Word Match

In [3]:
from difflib import SequenceMatcher

def similarity_ratio(word1, word2):
    return SequenceMatcher(None, word1, word2).ratio()

# Words to compare
word1 = "納品物作成1-1"
word2 = "タスク名前: 納品物作成1-1"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.6956521739130435

In [4]:
# Words to compare
word1 = "納品物作成1-1"
word2 = "`納品物作成1-1`"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.8888888888888888

In [5]:
# Words to compare
word1 = "納品物作成1-1"
word2 = "`納品物作成1-2`"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.7777777777777778

In [6]:
# Words to compare
word1 = "納品物作成1-1"
word2 = "`納品物作成1-7`"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.7777777777777778

In [7]:
# Words to compare
word1 = "納品物作成1-1"
word2 = "タスク名前: 納品物作成1-2"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.6086956521739131

In [8]:
# Words to compare
word1 = "納品物作成1-1"
word2 = "タスク名前: 納品物作成4-1-2"

similarity = similarity_ratio(word1, word2)
print(similarity)

0.56

"unnamed: *" column processsing

In [9]:
path = "/Users/formaideveloper/LLM_excel/application_v4_test/data/納品物作成1-1/カーディナルヘルス様給与チェック表_202409_for_task.csv"
df = pd.read_csv(path)
print(df.head())

   Unnamed: 0         退職日    社員番号  氏名 雇用形態 生年月日 支給月の締め日   年齢   健保（翌月）  介護（翌月）  \
0           0  2023-08-31  489281 NaN  NaN  NaN     NaN  NaN  12610.0     0.0
1           1  2023-08-31  489315 NaN  NaN  NaN     NaN  NaN  10670.0     0.0
2           2  2023-11-30  489672 NaN  NaN  NaN     NaN  NaN   8245.0  1445.0
3           3  2023-12-31  489598 NaN  NaN  NaN     NaN  NaN  30070.0  5270.0
4           4  2023-12-31  489697 NaN  NaN  NaN     NaN  NaN  11640.0     0.0

    厚年（翌月）  子育て拠出金（翌月）      厚年標報   翌月は？ 月変は？  スタッフコード
0  23790.0       936.0       NaN    NaN  NaN   489281
1  20130.0       792.0       NaN    NaN  NaN   489315
2  15555.0       612.0       NaN    NaN  NaN   489672
3  56730.0      2232.0  620000.0    NaN  NaN   489598
4  21960.0       864.0  240000.0  翌月65歳  NaN   489697

In [10]:
columns = list(df.columns)
df = df[columns[1:]]
print(df.head())

          退職日    社員番号  氏名 雇用形態 生年月日 支給月の締め日   年齢   健保（翌月）  介護（翌月）   厚年（翌月）  \
0  2023-08-31  489281 NaN  NaN  NaN     NaN  NaN  12610.0     0.0  23790.0
1  2023-08-31  489315 NaN  NaN  NaN     NaN  NaN  10670.0     0.0  20130.0
2  2023-11-30  489672 NaN  NaN  NaN     NaN  NaN   8245.0  1445.0  15555.0
3  2023-12-31  489598 NaN  NaN  NaN     NaN  NaN  30070.0  5270.0  56730.0
4  2023-12-31  489697 NaN  NaN  NaN     NaN  NaN  11640.0     0.0  21960.0

   子育て拠出金（翌月）      厚年標報   翌月は？ 月変は？  スタッフコード
0       936.0       NaN    NaN  NaN   489281
1       792.0       NaN    NaN  NaN   489315
2       612.0       NaN    NaN  NaN   489672
3      2232.0  620000.0    NaN  NaN   489598
4       864.0  240000.0  翌月65歳  NaN   489697

In [11]:
df.to_csv(path, index=False)

file check

In [14]:
def check_data_mismatch(sample: pd.DataFrame, uploaded: pd.DataFrame):
    columns_match = set(sample.columns) == set(uploaded.columns)

    if not columns_match:
        column_diff = set(sample.columns) ^ set(uploaded.columns)  
        return False, f"アップロードされたファイルとサンプルファイルは以下の列名が違います：\n{column_diff}\n"

In [15]:
path1 = "/Users/formaideveloper/LLM_excel/application_v4_test/data/納品物作成1-1/支給・控除等一覧表.csv"
path2 = "/Users/formaideveloper/LLM_excel/application_v4_test/data/納品物作成1-1/支給・控除等一覧表_給与_2024年09月25日支給.csv"
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)
check_data_mismatch(df1, df2)

In [4]:
path3 = "/Users/formaideveloper/LLM_excel/application_v5/data/納品物作成1-1/★【給与】支給控除一覧_社保手修正一覧.xlsx"
df3 = pd.read_excel(path3,
        sheet_name=0)
df3.head()

,介護保険：40歳到達前日 介護保険喪失：65歳到達前日 厚生年金保険：70歳到達前日 健康保険：75歳到達前日,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,退職日,社員番号,氏名,雇用形態,生年月日,支給月締め日,年齢,健保（当月）,健保（翌月）,介護（当月）,介護（翌月）,厚年（当月）,厚年（翌月）,子育て拠出金（当月）,子育て拠出金（翌月）,NaN,厚年標報,翌月は？,月変は？,備考
1,2023-08-31 00:00:00,489281,NaN,NaN,1958-08-02 00:00:00,2023-08-31 00:00:00,65才0ヶ月,NaN,12610,NaN,0,NaN,23790,NaN,936,NaN,NaN,NaN,NaN,NaN
2,2023-08-31 00:00:00,489315,NaN,NaN,1958-08-25 00:00:00,2023-08-31 00:00:00,65才0ヶ月,NaN,10670,NaN,0,NaN,20130,NaN,792,NaN,NaN,NaN,NaN,NaN
3,2023-09-30 00:00:00,865002,NaN,NaN,1988-01-30 00:00:00,2023-09-30 00:00:00,35才8ヶ月,NaN,22795,NaN,0,NaN,43005,NaN,1692,NaN,45590,0,86010,3384
4,2023-09-30 00:00:00,489370,NaN,NaN,1959-09-25 00:00:00,2023-09-30 00:00:00,64才0ヶ月,NaN,58685,NaN,10285,NaN,59475,NaN,2340,NaN,117370,20570,118950,4680

In [77]:
possible_header_row = df3[df3.apply(lambda row: row.astype(str).str.contains('社員番号', na=False).any() | row.astype(str).str.contains('スタッフコード', na=False).any(), axis=1)].iloc[0].squeeze()
print(possible_header_row)

202408給与計算結果一覧_カーディナルヘルス株式会社様            会社
Unnamed: 1                              支給日
Unnamed: 2                             社員番号
Unnamed: 3                         氏名\n（英語）
Unnamed: 4                               氏名
                                    ...
Unnamed: 130                         欠勤控除時間
Unnamed: 131                     遅刻早退欠勤控除時間
Unnamed: 132                       当月所定労働時間
Unnamed: 133                          給与　備考
Unnamed: 134                            NaN
Name: 2, Length: 135, dtype: object

In [78]:
target_row = df3.iloc[2]
print(target_row)

202408給与計算結果一覧_カーディナルヘルス株式会社様            会社
Unnamed: 1                              支給日
Unnamed: 2                             社員番号
Unnamed: 3                         氏名\n（英語）
Unnamed: 4                               氏名
                                    ...
Unnamed: 130                         欠勤控除時間
Unnamed: 131                     遅刻早退欠勤控除時間
Unnamed: 132                       当月所定労働時間
Unnamed: 133                          給与　備考
Unnamed: 134                            NaN
Name: 2, Length: 135, dtype: object

In [79]:
print(target_row.equals(possible_header_row))

True

In [5]:
def get_header_index(excel_file_path, sheet_name):
    df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
    possible_header_row = df[df.apply(lambda row: row.astype(str).str.contains('社員番号', na=False).any() | row.astype(str).str.contains('スタッフコード', na=False).any(), axis=1)].iloc[0].squeeze()
    for index, row in df.iterrows():
        if row.equals(possible_header_row):
            return index + 1
    return 0

In [99]:
print(get_header_index(path3, 0))

1

In [13]:
def load_single_sheet(excel_file_path, sheet_name):
    possible_header_row = get_header_index(excel_file_path, sheet_name=sheet_name)
    df = pd.read_excel(excel_file_path, sheet_name=sheet_name, header=possible_header_row)
    df = df.loc[:, ~(df.columns.str.contains('Unnamed:') | df.columns.str.contains("NaN"))]
    datetime_columns = df.select_dtypes(include=['datetime64[ns]']).columns
    df[datetime_columns] = df[datetime_columns].astype('string')    
    return df

In [14]:
new_df3 = load_single_sheet(path3, 0)
# new_path = "/Users/formaideveloper/LLM_excel/application_v4_test/data/納品物作成1-1/★【給与】支給控除一覧_社保手修正一覧.csv"
# new_df3.to_csv(new_path, index=False)
print(new_df3.head())

          退職日      社員番号  氏名 雇用形態        生年月日               支給月締め日      年齢  \
0  2023-08-31  489281.0 NaN  NaN  1958-08-02  2023-08-31 00:00:00  65才0ヶ月
1  2023-08-31  489315.0 NaN  NaN  1958-08-25  2023-08-31 00:00:00  65才0ヶ月
2  2023-09-30  865002.0 NaN  NaN  1988-01-30  2023-09-30 00:00:00  35才8ヶ月
3  2023-09-30  489370.0 NaN  NaN  1959-09-25  2023-09-30 00:00:00  64才0ヶ月
4  2023-09-30  862664.0 NaN  NaN  1984-09-13  2023-09-30 00:00:00  39才0ヶ月

   健保（当月）   健保（翌月）  介護（当月）   介護（翌月）  厚年（当月）   厚年（翌月）  子育て拠出金（当月）  子育て拠出金（翌月）  \
0     NaN  12610.0     NaN      0.0     NaN  23790.0         NaN       936.0
1     NaN  10670.0     NaN      0.0     NaN  20130.0         NaN       792.0
2     NaN  22795.0     NaN      0.0     NaN  43005.0         NaN      1692.0
3     NaN  58685.0     NaN  10285.0     NaN  59475.0         NaN      2340.0
4     NaN  25705.0     NaN      0.0     NaN  48495.0         NaN      1908.0

       厚年標報   翌月は？    月変は？    備考
0       NaN    NaN     NaN   NaN
1       NaN    NaN     NaN   NaN
2   45590.0      0   86010  3384
3  117370.0  20570  118950  4680
4   51410.0      0   96990  3816

In [15]:
print(new_df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   退職日         32 non-null     string
 1   社員番号        31 non-null     float64
 2   氏名          0 non-null      float64
 3   雇用形態        16 non-null     object
 4   生年月日        31 non-null     string
 5   支給月締め日      31 non-null     object
 6   年齢          32 non-null     object
 7   健保（当月）      3 non-null      float64
 8   健保（翌月）      31 non-null     float64
 9   介護（当月）      3 non-null      float64
 10  介護（翌月）      31 non-null     float64
 11  厚年（当月）      3 non-null      float64
 12  厚年（翌月）      31 non-null     float64
 13  子育て拠出金（当月）  10 non-null     float64
 14  子育て拠出金（翌月）  38 non-null     float64
 15  厚年標報        25 non-null     float64
 16  翌月は？        24 non-null     object
 17  月変は？        12 non-null     object
 18  備考          7 non-null      object
dtypes: float64(11), object(6), string(2)
memory usage: 5.9+ KB
None