In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/formaideveloper/LLM_excel/notebooks/YYYYMM勤怠取込データ_YYYYMMDD_gpt_4.csv")

In [3]:
df.head()

,スタッフコード,姓,名,支給日,給与規定グループ名,社員番号,出勤日数_x,出勤時間,所定内残業手当_x,普通残業手当_x,...,当月所定勤務時間,出勤日数_y,所定内残業手当_y,普通残業手当_y,深夜残業手当_y,法定外休日残業手当_y,法定休日残業手当_y,60時間超過手当_y,代休控除_y,遅刻早退控除_y
0,483187,NaN,NaN,2024-04,一般_袋井_時間外あり,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,489280,NaN,NaN,2024-04,時給_袋井,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,489285,NaN,NaN,2024-04,時給_袋井,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,489296,NaN,NaN,2024-04,時給_袋井,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,489299,NaN,NaN,2024-04,時給_袋井,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sliced_df = df.iloc[:2, :2]

In [5]:
print(sliced_df)

   スタッフコード   姓
0   483187 NaN
1   489280 NaN

In [6]:
print(sliced_df.to_dict())

{'スタッフコード': {0: 483187, 1: 489280}, '姓': {0: nan, 1: nan}}

In [13]:
df = pd.read_csv("/Users/formaideveloper/LLM_excel/テスト用データ/other_4/shikyuukoujo_sekkei.csv", delimiter=',')

In [14]:
print(df.head())

  新しいファイルの列番号 新しいファイルの列名 入力する値（必要な場合のみ） 参照する入力ファイル（必要な場合のみ）  \
0           A         会社            NaN                 NaN
1           B        支給日   payment_date                 NaN
2           C       社員番号            NaN        shikyuukoujo
3           D     氏名（英語）            NaN  sub_employee_labor
4           E         氏名            NaN  sub_employee_labor

  参照する入力ファイルの参照する列番号（必要な場合のみ）
0                         NaN
1                         NaN
2                           B
3                          KS
4                          KV

In [12]:
df.iloc[0]

新しいファイルの列番号                      A
新しいファイルの列名                      会社
入力する値（必要な場合のみ）                 NaN
参照する入力ファイル（必要な場合のみ）            NaN
参照する入力ファイルの参照する列番号（必要な場合のみ）    NaN
Name: 0, dtype: object

In [8]:
df.to_csv("/Users/formaideveloper/LLM_excel/テスト用データ/other_4/shikyuukoujo_sekkei.csv", encoding='utf-16', index=False)

In [5]:
from datetime import date
print(date.today().strftime("%Y/%m"))
print(date.today())

2024/11
2024-11-12